<% include partials/header %>
<h1>Your Matches</h1>


<% Object.values(ninjas).forEach(ninja => { %>
   <div style="display: flex; margin-bottom: 10px; border: 1px solid #bbb;" class="label">
      <div>
         <img src="<%= ninja.photo %>" alt="" style="width: 200px;">
      </div>
      <div>
         <table>
            <tr>
               <td class="label"><p>Name: </p></td>
               <td><p><%= ninja.name.first %> <%= ninja.name.last %></p></td>
            </tr>
            <tr>
               <td class="label"><p>Email: </p></td>
               <td><p><%= ninja.email %></p></td>
            </tr>
            <tr>
               <td class="label"><p>LinkedIn Profile: </p></td>
               <td><p><%= ninja.linkedin %></p></td>
            </tr>
            <tr>
               <td class="label"><p>Phone: </p></td>
               <td><p><%= ninja.phone %></p></td>
            </tr>
            <tr>
               <td class="label"><p>Location: </p></td>
               <td><p><%= ninja.location %></p></td>
            </tr>
            <tr>
               <td class="label"><p>Gyms: </p></td>
               <td><p><%= ninja.gym %></p></td>
            </tr>

         </table>
      </div>
   </div>
   
<% }); %>

<% include partials/footer %>
